.result{
  text-decoration:none;
  font-weight:bold;
}
#list1 a {
  text-decoration:none;
  color:#ff0000;
}
#list2 a {
  text-decoration:none;
  color:#00ff00;
}
#list3 a {
  text-decoration:none;
  color:#0000ff;
}
#list4 a {
  text-decoration:none;
  color:#ffff00;
}
#list5 a {
  text-decoration:none;
  color:#000000;
}
.container {
    overflow: hidden;
}
.right {
    float: right;
	text-align:right;
}
.left {
    float: left;
}
.middle {
    margin: 0 250px;
}
a:hover {
	font-weight:bolder;
}
